.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.app {
  text-align: center;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.5);
  background-color: #444444;
  min-width: 600px;
}

.separator {
  margin: 16px 0;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background-color: #f353d0;
}