.counter {
  color: #ffffff;
}

.counter p {
  margin: 0 0 8px;
}

.counter button {
  border-radius: 16px;
  background-color: #9339f9;
  padding: 8px 16px;
  border: 0;
  color: #fff;
  font-size: 16px;
  transition: background-color 200ms ease;
  outline: none;
  cursor: pointer;
  font-weight: 700;
}

.counter button:hover,
.counter button:focus {
  background-color: #f353d0;
}
