body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-image: radial-gradient(circle at 62% 44%, #f353d0, #5801bc);
  min-height: 100vh;
  font-size: 16px;
  color: #fff;
}

#root {
  min-height: 100vh;
}

p {
  margin: 0 0 8px;
}

button {
  border-radius: 16px;
  background-color: #9339f9;
  padding: 8px 16px;
  border: 0;
  color: #fff;
  font-size: 16px;
  transition: background-color 200ms ease;
  outline: none;
  cursor: pointer;
  font-weight: 700;
}

button + button {
  margin-left: 8px;
}

button:hover,
button:focus,
button.active {
  background-color: #f353d0;
}
